1<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<!-- templates/people/order-details.html -->
<div th:fragment="orderDetails" th:if="${order != null}">
    <form th:hx-put="@{/order/{id}(id=${order.id})}"
          hx-target="#orderDetails">
        <input type="text" name="name" th:value="${order.name}" required/>
        <input type="email" name="email" th:value="${order.email}" required/>
        <button type="submit">Update</button>
    </form>
</div>

</body>